@import 'src/external/font-awesome/styles/font-awesome';

@import 'src/components/banner/styles/banner';
@import 'src/components/productPlacement/styles/productPlacement';
@import 'src/components/featureLayout/styles/featureLayout';
@import 'src/components/hero/styles/hero';
@import 'src/components/mosaic/styles/mosaic';
@import 'src/components/callToAction/styles/callToAction';
@import 'src/components/placementChannel/styles/placementChannel';

@import 'src/pages/styles/example';