$base: 4px;
$base-2x: $base * 2;
$base-3x: $base * 3;
$base-4x: $base * 4;
$base-5x: $base * 5;
$base-6x: $base * 6;
$base-7x: $base * 7;
$base-8x: $base * 8;
$base-9x: $base * 9;
$base-10x: $base * 10;
$base-11x: $base * 11;
$base-12x: $base * 12;
$base-13x: $base * 13;
$base-14x: $base * 14;