$base: 4px !default;
$base-2x: $base * 2 !default;
$base-3x: $base * 3 !default;
$base-4x: $base * 4 !default;
$base-5x: $base * 5 !default;
$base-6x: $base * 6 !default;
$base-7x: $base * 7 !default;
$base-8x: $base * 8 !default;
$base-9x: $base * 9 !default;
$base-10x: $base * 10 !default;
$base-11x: $base * 11 !default;
$base-12x: $base * 12 !default;
$base-13x: $base * 13 !default;
$base-14x: $base * 14 !default;
