@font-face {
    font-family: 'gotham_book-webfont';
    src: url('/assets/fonts/Gotham-Book/Gotham-Black.eot');
    src: url('/assets/fonts/Gotham-Book/Gotham-Black.eot') format('embedded-opentype'), url('/assets/fonts/Gotham-Book/Gotham-Black.woff2') format('woff2'), url('/assets/fonts/Gotham-Book/Gotham-Black.woff') format('woff'), url('/assets/fonts/Gotham-Book/Gotham-Black.ttf') format('truetype'), url('/assets/fonts/Gotham-Book/Gotham-Black.svg#GothamBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_book-webfont';
    src: url('/assets/fonts/Gotham-Book/Gotham-Bold.eot');
    src: url('/assets/fonts/Gotham-Book/Gotham-Bold.woff') format('woff'), url('/assets/fonts/Gotham-Book/Gotham-Bold.ttf') format('truetype'), url('/assets/fonts/Gotham-Book/Gotham-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_book-webfont';
    src: url('/assets/fonts/Gotham-Book/Gotham-Medium.eot');
    src: url('/assets/fonts/Gotham-Book/Gotham-Medium.woff') format('woff'), url('/assets/fonts/Gotham-Book/Gotham-Medium.ttf') format('truetype'), url('/assets/fonts/Gotham-Book/Gotham-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_book-webfont';
    src: url('/assets/fonts/Gotham-Book/Gotham-Light.eot');
    src: url('/assets/fonts/Gotham-Book/Gotham-Light.woff') format('woff'), url('/assets/fonts/Gotham-Book/Gotham-Light.ttf') format('truetype'), url('/assets/fonts/Gotham-Book/Gotham-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_book-webfont';
    src: url('/assets/fonts/Gotham-Book/Gotham-Book.eot');
    src: url('/assets/fonts/Gotham-Book/Gotham-Book.woff') format('woff'), url('/assets/fonts/Gotham-Book/Gotham-Book.ttf') format('truetype'), url('/assets/fonts/Gotham-Book/Gotham-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}