.feature-layout {
    width: 100%;
    display: flex;
    -ms-flex: 0 1 auto; // sass-lint:disable-line no-vendor-prefixes
    flex-direction: column;

    overflow: hidden;

    position: relative;

    &__half {
        display: flex;
        -ms-flex: 0 1 auto; // sass-lint:disable-line no-vendor-prefixes
        position: relative;
        box-sizing: border-box;

        &--content {
            padding: $base-3x 0;

            display: flex;
            flex-direction: column;
            align-items: center;
            -ms-flex: 0 1 auto; // sass-lint:disable-line no-vendor-prefixes
            order: 0;

            text-align: center;

            // Fix flex text wrapping for IE
            > * {
                max-width: 100%;
            }

            @media screen and (min-width: $bp-md) {
                padding-#{$start}: $base-7x;
                padding-#{$end}: $base-7x;

                flex-wrap: nowrap;
                justify-content: center;
            }
        }

        &--media {
            display: block;
            order: -1;
        }
    }

    @media screen and (min-width: $bp-md) {
        &--align-left,
        &--align-right {
            flex-direction: row;
        }

        &--align-left &__half,
        &--align-right &__half {
            width: 50%;
            align-items: flex-start;

            &--content {
                align-items: left;
                text-align: $start;
            }
        }

        &--image-priority &__half,
        &--image-priority &__half {
            &--content {
                width: 34%;
            }

            &--media {
                width: 66%;
            }
        }

        &--align-left &__half {
            &--content {
                order: -1;
            }

            &--media {
                order: 0;
            }
        }

        &--align-right &__half {
            &--content {
                order: 0;
            }

            &--media {
                order: -1;
            }
        }
    }

    &--reverse &__half--media {
        order: 0;
    }

    &--align-center,
    &--highlight > * {
        width: 100%;
    }
}
