// Buttons
.btn {
    &:hover {
        box-shadow: $btn-focus-box-shadow !important;
    }

    &:focus {
        box-shadow: $btn-focus-box-shadow !important;
        border: 2px solid #000;
        outline: none;
    }

    &.btn-link {
        &:hover, 
        &:focus {
            box-shadow: none !important;
        }
    }
}

@each $btn_name, $color_value in $theme-colors {
    @include make-button($btn_name, $color_value);
    @include make-outline-button($btn_name, $color_value);
}
