.card {
    border: 0 solid $card-border-color;
    transition: box-shadow 1500ms ease-in-out;
    transition-timing-function: cubic-bezier(.16, 1, .29, .99);
    box-shadow: 0 5px 8px rgba($black-base, 0);

    &[class*="border"] {
        border-width: $card-border-width;
    }

    &:hover {
        box-shadow: 0 5px 8px rgba($black-base, .1);
    }
}

// .card-hoverable {
//     color: rgb(80, 80, 80);
//     background-color: rgb(255, 255, 255);
//     cursor: pointer;
//     max-width: 25rem;
//     position: relative;
//     backface-visibility: hidden;
//     box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 0.5px 1px;
//     transition: all 0.333s ease-out;
//     border-radius: 4px;

//     &:hover {
//         transform: translate3d(0px, -1px, 0px);
//         box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px, rgba(0, 0, 0, 0.18) 0px 4px 11px;
//     }
// }
