@import 'fonts/famlies';

// Global
[role="main"] {
    padding-top: 155px;
}

// global header
header {
    width: 100%;
    // height: 155px;

    position: fixed;
    z-index: 100;

    background-color: theme-color('light');

    > div {
        > div {
            position: relative;

            > div:first-child {
                height: 45px;
                margin-top: 25px;

                &.p-5 {
                    padding: 0 !important;
                }

                &.text-center {
                    text-align: right !important;
                }
    
                img {
                    position: absolute;
                    left: 50%;
                    top: 0;
    
                    transform: translate(-50%, 0);
                }

                > div {
                    display: inline-block;

                    &.float-right {
                        float: none !important;
                    }
                }
            }
        }
    }

    > div {
        > div {
            > div {
                > .navbar {
                    > div {
                        @media screen and (min-width: 1261px) {
                            ul {
                                a {
                                    font-size: 1.25vw;
                                    padding: 1.25vw 0.4vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Home start
.hero,
.feature,
.banner,
.card {
    .call-to-action {

        i {
            display: none;
        }

        // PROP UPDATES FOR BELOW RATHER THAN CLASS OVERWRITES.
        // outlineOnly={true}
        // color='light'
        // NEEDS TEXT
        &.btn-primary {
            color: theme-color('light');
            background-color: transparent;
            background-image: none;
            border-color: theme-color('light');

            text-transform: uppercase;

            &:hover {
                color: theme-color('dark');
                text-decoration: none !important;
                background-color: theme-color('light');

                span {
                    text-decoration: none !important;
                }
            }
        }
    }
}

// hero
.hero  {
    picture {
        position: relative;

        overflow: hidden;

        img {
            width: auto !important;
            min-height: 100%;

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }

    h1 {
        margin-bottom: 20px;

        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -0.02em;
    }

    > div {
        padding: 25px !important;
    }

    div.row {
        display: block;
        text-align: center;
    }
}

// feature
body {
    section {
        > div {
            > div {
                &:nth-child(2) {
                    margin-top: 30px;

                    .feature {
                        .col:first-of-type {
                            padding: 0 !important;
                        }

                        > div {
                            > div {
                                background-color: rgba(theme-color('primary'), .6);

                                &:first-child {
                                    > div {
                                        &.p-3 {
                                            padding: 0 !important;
                                        }
                                    }
                                }

                                &:last-child {
                                    display: flex;
                                }
                            }
                        }
                    }

                    &.p-3 {
                        padding: 0 !important;
                    }
                }

                &:nth-child(3) {
                    margin-bottom: 30px;

                    .feature {
                        .col:last-of-type {
                            padding: 0 !important;
                        }

                        > div {
                            > div {
                                background-color: rgba(theme-color('primary'), .6);

                                &:first-child {
                                    display: flex;
                                }
                                &:last-child {
                                    > div {
                                        &.p-3 {
                                            padding: 0 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.feature {
    overflow: hidden;

    color: theme-color('light');

    h2 {
        text-transform: lowercase;
    }

    picture {
        width: 100%;
        min-width: auto !important;
        min-height: auto;
        position: relative;

        overflow: hidden;

        &:after {
            content: '';
            position: relative;
            display: block;
            padding-bottom: percentage( 3 / 4 );
        }

        img {
            width: auto !important;
            min-width: 100% !important;
            min-height: 100%;

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
    }
}

// banner
body {
    section {
        > div {
            > div {
                &:nth-child(5),
                &:nth-child(6) {
                    width: 49.5%;

                    display: inline-block;
                    > div {

                        picture,
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.banner {
    margin-bottom: 30px;

    h2 {
        color: theme-color('light');
        text-transform: lowercase;
    }

}

// prod placement
.card {
    padding: 0;
    display: inline-block;

    border: none;
}


// Home end

// pdp start
